$white: #fff;
$white-hover: #f6f9fa;
$dark-blue: #1d2535;
$light-blue: #0076d1;
$blue-gray: #dae0e6;
$light-blue-gray: #f6f7f8;
$light-gray: #d7dce0;
$dark-gray: #767676;
$black: #1a1a1b;
$true-black: #000;

$gutter: 20px;

$input-btn-focus-box-shadow: 0 0 0 3px rgba($light-blue, 0.4);
